<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>{{pageTitle}}</title>
    <!-- Inclure les fichiers CSS de Bootstrap et vos fichiers CSS personnalisés ici -->
    <link
      href='https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css'
      rel='stylesheet'
    />
  </head>
  <body>
    <header>
      <!-- Ajoutez ici votre en-tête commun à toutes les pages -->
    </header>

    <main>
      {{{body}}}
    </main>

    <footer>
      <!-- Ajoutez ici votre pied de page commun à toutes les pages -->
    </footer>

    <!-- Inclure les fichiers JavaScript de Bootstrap et vos fichiers JavaScript personnalisés ici -->
    <script src='https://code.jquery.com/jquery-3.6.0.min.js'></script>
    <script
      src='https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js'
    ></script>
  </body>
</html>